{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-async-generator-functions",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-async-to-generator"
  ]
}